force-app/main/default/flows/Question_App.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Answer_verification</name>
        <label>Answer verification</label>
        <locationX>396</locationX>
        <locationY>1490</locationY>
        <actionName>VerifyAnswer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Answer_Correct</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>checkBoxAnswer</name>
            <value>
                <elementReference>AnswerCheckBox</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>questionId</name>
            <value>
                <elementReference>Loop_Question.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>radioButtonAnswer</name>
            <value>
                <elementReference>AnswerRadioButton</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ChosenAnswer</assignToReference>
            <name>answer</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>IsAnswerCorrect</assignToReference>
            <name>isCorrect</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Sum_Amount_Question</name>
        <label>Sum Amount Question</label>
        <locationX>396</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>AmountQuestion</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndAnswerObject.questionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Question.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndAnswerObject.answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChosenAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndAnswerObject.isCorrect</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsAnswerCorrect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndAnswerObjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndAnswerObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Amount_Question_With_Answer_Correct</name>
        <label>Sum Amount Question With Answer Correct</label>
        <locationX>264</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>NumberAnswerCorrect</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_Amount_Question</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Answer_Correct</name>
        <label>Is Answer Correct</label>
        <locationX>396</locationX>
        <locationY>1610</locationY>
        <defaultConnector>
            <targetReference>Sum_Amount_Question</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Answer_Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAnswerCorrect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sum_Amount_Question_With_Answer_Correct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_existing_user_with_this_email</name>
        <label>Is there existing user with this email?</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Select_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_by_Email.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_User</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Select</name>
        <label>Is User Select?</label>
        <locationX>330</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Save_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N0</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Is_Select</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_all_question</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AnswerChoiceValues</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Question__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Question.Id</elementReference>
            </value>
        </filters>
        <object>Answer__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Question App {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Question App</label>
    <loops>
        <name>Loop_Question</name>
        <label>Loop Question</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <collectionReference>Get_all_question</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Question_and_Answer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Question_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_User</name>
        <label>Save User</label>
        <locationX>176</locationX>
        <locationY>1010</locationY>
        <connector>
            <targetReference>Get_all_question</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Question_User__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_all_question</name>
        <label>Get All Questions</label>
        <locationX>176</locationX>
        <locationY>1130</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Question</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_by_Email</name>
        <label>Get User by Email</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_existing_user_with_this_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Question_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Average_Summary</name>
        <label>Average Summary</label>
        <locationX>176</locationX>
        <locationY>2282</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>QuestionAverageSummary</name>
            <extensionName>c:questionAverageSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>amountCorrectQuestion</name>
                <value>
                    <elementReference>NumberAnswerCorrect</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>amountQuestion</name>
                <value>
                    <elementReference>AmountQuestion</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_and_Answer</name>
        <label>Question and Answer</label>
        <locationX>396</locationX>
        <locationY>1370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Answer_verification</targetReference>
        </connector>
        <fields>
            <name>Question</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Loop_Question.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;&lt;em&gt;{!Loop_Question.Description__c}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AnswerRadioButton</name>
            <choiceReferences>AnswerChoiceValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the correct answer</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Question.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Radio button</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AnswerCheckBox</name>
            <choiceReferences>AnswerChoiceValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the correct answer</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Question.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Checkbox</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Summary</name>
        <label>Question Summary</label>
        <locationX>176</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Average_Summary</targetReference>
        </connector>
        <fields>
            <name>QuestionSummaryMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Question Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuestionAndAnswerComponent</name>
            <extensionName>c:questionAnswerSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>questionAndAnswer</name>
                <value>
                    <elementReference>QuestionAndAnswerObjectList</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_User_Record</name>
        <label>Select User Record</label>
        <locationX>330</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_User_Select</targetReference>
        </connector>
        <fields>
            <name>ChooseUserMessaje</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;&lt;em&gt;Choose the best user for you&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ee</name>
            <extensionName>c:selectQuestionUser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>email</name>
                <value>
                    <elementReference>Email.value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserId</assignToReference>
                <name>userId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_registration</name>
        <label>User registration</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_User_by_Email</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_registration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AmountQuestion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ChosenAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsAnswerCorrect</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumberAnswerCorrect</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>QuestionAndAnswerObject</name>
        <apexClass>QuestionAndAnswer</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionAndAnswerObjectList</name>
        <apexClass>QuestionAndAnswer</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
